%h1 Deposit


%p Tell us the amount of BTC you want to deposit

%p Amount (BTC):

%form{ action: "deposit", method: "post" }
  %input{ type: "text", name: "deposit[amount]", placeholder: "like 0.0001" }

  %input{ type: "submit", value: "Create deposit request" }




%br
%br
%br
%br
%br
%p note: 0.0001