%h1 Sell

%p Amount (BTC):
%form{ action: "/orders", method: "post" }
  %input{ type: "text", name: "order[amount]", placeholder: "like 0.0001" }


  %input{ type: "submit", value: "Sell" }






%br
%br
%br
%br
%br
%p
  note:
  %input{ disabled: "disabled", value: "0.0001" }

