* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: green; }

body {
  padding: 0; }

.clear {
  clear: both; }

.right {
  float: right; }

nav a {
  margin-right: 10px; }

.btn, .button, nav a {
  padding: 5px 8px;
  border-radius: 7px;
  background: lightgreen;
  border: 1px solid lightgreen; }
  .btn:hover, .button:hover, nav a:hover {
    border: 1px solid green; }

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px; }

input.deposit {
  padding: 10px 15px;
  font-size: 1.2em;
  width: 450px;
  text-align: center; }
